<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>Оплата</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>

</head>
<body>
<th:block layout:fragment="content">
    <h1>Регистрация карты</h1>
<div class="wrapper">
    <form class="form-horizontal auth-data"
          th:action="@{user/registration}" th:object="${user}" method="post">
        <fieldset>

            <div class="form-group">
                <label for="meansPayment" class="hidden"></label>
                <input id="meansPayment" type="text"  class="form-control" name="meansPayment"
                       th:placeholder="Тип_карты" th:field="*{meansPayment}"
                       required="" autofocus=""/>
            </div>
            <div class="form-group">
                <label for="cardNumber" class="hidden"></label>
                <input id="cardNumber" type="text" class="form-control" name="cardNumber"
                       th:placeholder="Номер_карты" th:field="*{cardNumber}"
                       required=""/>
            </div>

            <div class="form-group">
                <label for="CVV" class="hidden"></label>
                <input id="CVV" type="text" class="form-control" name="CVV"
                       th:placeholder="CVV" th:field="*{CVV}"
                       required=""/>
            </div>

            <div class="form-group">
                <label for="Summary" class="hidden"></label>
                <input id="Summary" type="text" class="form-control" name="Summary"
                       th:placeholder="Сумма_на_карте" th:field="*{Summary}"
                       required=""/>
            </div>

            <div class="text-center">
                <input class="btn btn-default" type="submit" th:value="Зарегестрировать"/>
            </div>
        </fieldset>
    </form>
</div>
</th:block>
</body>
</html>