<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Belyaeva</title>

    <link rel="stylesheet" href="../static/assets/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/assets/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>

</head>
<body>
<h1>Заказ успешно создан</h1>
<div class="wrapper">
    <p class="info">Имя посылки: <span th:text="${delivery.name}">посылка</span>.</p>
    <p class="info">Описание посылки: <span th:text="${delivery.description}">описание</span>.</p>
</div>
<dl class="dl-horizontal">
    <dt>Имя посылки:</dt>
    <dd><span th:text="${delivery.name}">посылка</span></dd>
    <dt>Описание посылки:</dt>
    <dd><span th:text="${delivery.description}">описание</span></dd>
</dl>

</body>
</html>